@import './colors.scss';

.main {
  margin-left: 30%;
  margin-right: 30%;
}

.logo {
  width: 50;
  height: 50px;
  margin-top: 30px;
}

.form-group {
  margin-top: 15px;
  #login, #code {
    text-align: center;
  }
}

.buttons {
  margin-top: 10px;
  button {
    margin: 5px;
  }
}

.error {
  color: $wrong_input;
}